
sql/pgsql_exercises_env/
sql/back_up/
sql/PostgreSQL_Exercises_my.ipynb
sql/PostgreSQL_Interview_DB_Initialization_and_Administration.ipynb
interview_mcq_trainer/Interview_Initialization_and_Administration.ipynb
