
Probability-and-statistics/second_deviation.png
Probability-and-statistics/first_deviation.png
Tests from interviews/test1_scheme_of_building.png
Probability-and-statistics/norm1.png
Probability-and-statistics/norm2.png
Probability-and-statistics/uniform1.png
Probability-and-statistics/uniform2.png
